<!doctype html>
<html>
<head>
    <style>
        .error { color: red; }
    </style>
</head>
<body>
    <h1>Validate Time</h1>
    <form method='POST'>
        <label>Hours (24-hour format)
            <input name="hours" type="text" value='{{hours}}' />
        </label>
        <p class="error">{{hours_error}}</p>
        <label>Minutes
            <input name="minutes" type="text" value='{{minutes}}' />
        </label>
        <p class="error">{{minutes_error}}</p>
        <input type="submit" value="Validate" />
    </form>
</body>
</html>